<a href="https://colab.research.google.com/github/Preetam2000-git/Python-Assignment/blob/main/Python%20Data%20Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.What are data structures, and why are they important ?
  - Data structures are fundamental ways of organizing and storing data for efficient access and manipulation in computer programs. They are important because they enable faster and more efficient operations on data, making code more readable, scalable, and easier to maintain
#2. Explain the difference between mutable and immutable data types with examples.
   - In programming, mutable data types can be changed after they are created, while immutable data types cannot be modified once they are defined. Mutable examples include lists and dictionaries, while immutable examples include strings and tuples.

In [14]:
Team=["ram","Shyam","Arnab"]
Team.append("raju")
Team

['ram', 'Shyam', 'Arnab', 'raju']

In [15]:
name="Preetam"
name.replace("p","r")

'Preetam'

#3. What are the main differences between lists and tuples in Python ?
   - Lists and tuples are both fundamental sequence types in Python, but they differ significantly in their mutability and typical use cases.

#4.  Describe how dictionaries store data ?
   - Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [18]:
dict = {"Name":"Preetam", "age":"25"}
dict

{'Name': 'Preetam', 'age': '25'}

#5. Why might you use a set instead of a list in Python ?
  - Because Sets and lists in Python serve different purposes and have distinct characteristics, making one more suitable than the other depending on the situation. Sets are unordered collections of unique elements, while lists are ordered collections that can contain duplicates.

#6. What is a string in Python, and how is it different from a list ?
   -In Python, a string is an immutable sequence of characters, while a list is a mutable sequence of items, which can be of any data type. Strings are primarily used for text-based data, whereas lists can hold a variety of items and are more versatile for organizing and manipulating collections of data.

#7. How do tuples ensure data integrity in Python ?
  -Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be changed, added, or removed. This characteristic guarantees that the data stored within a tuple remains constant throughout its lifecycle, preventing accidental or unauthorized modifications. Immutability makes tuples suitable for situations where data consistency is critical, such as storing configuration settings, database connection details, or representing fixed collections of values. Attempts to modify a tuple will result in a Type Error, reinforcing its read-only nature and safeguarding against data corruption.

#8. What is a hash table, and how does it relate to dictionaries in Python ?
  - A hash table is a data structure that stores key-value pairs, similar to Python's dictionaries. It uses a hash function to map keys to an index in an array, allowing for efficient retrieval and storage of data. In Python, dictionaries are implemented using hash tables.

In [20]:
my_dict = {"apple": 1, "banana": 2, "cherry": 3}
my_dict["orange"] = 4
my_dict

{'apple': 1, 'banana': 2, 'cherry': 3, 'orange': 4}

In [21]:
print(my_dict["banana"])

2

#9. Can lists contain different data types in Python ?
   - Yes, lists in Python can contain elements of different data types. This is a key feature of Python lists, allowing them to store heterogeneous data. A single list can hold integers, strings, floats, booleans, and even other lists or data structures.

In [22]:
my_list = [1, "hello", 3.14, True, [1, 2, 3]]
print(my_list)

[1, 'hello', 3.14, True, [1, 2, 3]]

#10. Explain why strings are immutable in Python ?
  - Python strings are "immutable" which means they cannot be changed after they are created.

In [25]:
Name="Preetam"
Name[2]="y"
Name

TypeError: 'str' object does not support item assignment

#11. What advantages do dictionaries offer over lists for certain tasks ?
  - it is more efficient to use dictionaries for the searching of elements as it can be carried out in a much faster manner. Lists are used when it is important to maintain the order of the elements and dealing with data that may get changed in the future.

#12. Describe a scenario where using a tuple would be preferable over a list.
   - if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

#13. How do sets handle duplicate values in Python ?
   -Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, the set automatically discards the duplicate, ensuring that it contains only distinct elements. This behavior is a core characteristic of sets, making them useful for tasks like removing duplicates from a list or checking for membership without concern for repetition.

In [26]:
My_bag= {"Bottle","book","Laptop","book","Bottle"}
My_bag

{'Bottle', 'Laptop', 'book'}

#14. How does the “in” keyword work differently for lists and dictionaries ?

In [28]:
dict={"hello":"hi","thank you":"your welcome"}
"hello" in dict
"hi" in dict

False

In [29]:
my_list = [1, 2, 3, 4, 5]

print(3 in my_list)
print(6 in my_list)

True
False

#15. Can you modify the elements of a tuple? Explain why or why not ?
  - No, you cannot directly modify the elements of a tuple after it has been created. Tuples are immutable in Python, meaning their values cannot be changed once they are assigned. Attempting to modify a tuple will result in a Type Error.

#16. What is a nested dictionary, and give an example of its use case ?
  - A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This creates a hierarchical data structure. A common use case is to store complex, related data in a structured manner, like organizing information about different objects or individuals with multiple attributes.

In [32]:
people = {1: {'name': 'John', 'age': '27', 'sex': 'Male'},
          2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

print(people)

{1: {'name': 'John', 'age': '27', 'sex': 'Male'}, 2: {'name': 'Marie', 'age': '22', 'sex': 'Female'}}

#17.  Describe the time complexity of accessing elements in a dictionary.
  - The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.

#18. In what situations are lists preferred over dictionaries ?
   -For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

#19.  Why are dictionaries considered unordered, and how does that affect data retrieval ?
  - Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order.

#20. Explain the difference between a list and a dictionary in terms of data retrieval ?
  - In terms of data retrieval, lists access elements by numerical index, while dictionaries access elements by unique keys. This difference significantly impacts retrieval speed and efficiency.



#Practical Questions

In [33]:
#1.Write a code to create a string with your name and print it.
my_name = "Preetam koley"
my_name

'Preetam koley'

In [34]:
#2. Write a code to find the length of the string "Hello World"
name="Preetam"
len(name)

7

In [37]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
text = "Python Programming"
sliced_text = text[:3]
print(sliced_text)

Pyt

In [38]:
#4. Write a code to convert the string "hello" to uppercase
text = "hello"
uppercase_text = text.upper()
print(uppercase_text)

HELLO

In [41]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [42]:
#6. Write a code to create a list with numbers 1 to 5 and print it
numbers=[1,2,3,4,5]

In [43]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
my_list=[1,2,3,4,5]
my_list.append(10)
my_list

[1, 2, 3, 4, 5, 10]

In [44]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
my_list=[1,2,3,4,5]
my_list.remove(3)
my_list

[1, 2, 4, 5]

In [46]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list=["a","b","c","d"]
my_list[1]

'b'

In [51]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

In [52]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [53]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print(second_to_last)

blue

In [57]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
my_tuple = (10, 20, 5, 15)
min_value = min(my_tuple)
print(min_value)

5

In [58]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

In [60]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

In [61]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set={"a","b","c"}
print(my_set)

{'c', 'b', 'a'}

In [62]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [63]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [64]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [65]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [70]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "John","age": 30,"city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [71]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict["country"] = "USA"
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [73]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

In [74]:
#24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [75]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [76]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [82]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
numbers = [11,23,43,54,67]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [11, 23, 43, 54, 67]

In [83]:
#28.Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at the third index:", my_list[3])

Element at the third index: date

In [86]:
 #29. Write a code to combine two dictionaries into one and print the result.
 dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [88]:
#30. Write a code to convert a list of strings into a set.
my_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list to a set
my_set = set(my_list)

# Print the set
print("Set:", my_set)

Set: {'date', 'banana', 'apple', 'cherry'}